{% extends 'base.html' %}

{% block content %}
{% include 'shared/_navbar.html' %}
<div class="container">
    <h1>글 #{{ post.id }} 상세보기</h1>
    <h3>글 제목 : {{ post.title }}</h3>
    {% if post.writer %}
        <h3>작성자 : {{ post.writer }}</h3>
    {% else %}
        <h3>작성자 : 알 수 없음</h3>
    {% endif %}
    <h3>조회수 : {{ post.view_count }}</h3>
    <h3>글 내용 : {{ post.content }}</h3>
    <h3>작성 시각 : {{ post.created_at }}</h3>
    <h3>수정 시각 : {{ post.updated_at }}</h3>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="사진">
    {% endif %}

    {% if user == post.writer %}
        <a href="{% url 'posts:update' post.pk %}" class="btn btn-primary">수정</a>
        <a href="{% url 'posts:delete' post.pk %}" class="btn btn-danger">삭제</a>
    {% endif %}
</div>
{% endblock %}